.box {
    width: 1500px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  .tableMainSection {
    width: 1200px;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .filterSection {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .filterSection h1 {
    margin-left: 20px;
    display: inline-block;
    margin-top: 0;
  }
  .dropDown {
    float: right;
  }
  .selectCity {
    width: 300px;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    margin-right: 20px;
    border: #113350 2px solid;
    cursor: pointer;
  }
  .selectBTNImg {
    width: 20px;
    height: 20px;
    float: right;
    background-image: url(../../../public/images/icons/icons8-drop-down-24.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tableSection {
    width: 1000px;
    margin: auto;
  }
  