
.container {
    width: 1500px;
    height: 800px;
    margin: auto;
    display: flex;
}

.information-wrapper {
    width: 65%;
    background-image: url(../../assets/images/huy-phan-HqLcI0Dyl4o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;

}

.information {
    width: 400px;
    height: 600px;
    margin: auto;
}

.registration-wrapper {
    width: 35%;
    background-color: #113350;
    color: #fff;
    padding-left: 50px;
    padding-top: 150px;

}

.registration-wrapper h2 {
    font-size: 36px;
}



.registration-title {
    height: 30px;
    width: 255px;
    font-size: 25px;
    font-weight: bold;
}

.icon{
    margin-right: 10px;
    color: rgb(255, 188, 0);;
}


.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 150px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: #0066c3;
    color: #fff;
    cursor: pointer;
}

.button:hover{
    opacity: 0.6;
}

.gallery-wrapper{
    width: 1200px;
    padding: 100px;
    margin: 20px;
}

  

  