.container{
    width: 810px;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 100px;
}

.title{
    text-align: center;
    margin-bottom: 50px;
}

.row{
    margin: 20px 0px;
}

.input{
    width: 100%;
    margin: 10px 0px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.col{
    display:flex;
    flex-flow: row wrap;
    margin: auto;
}

.card-img{
    width: 190px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: #fff;
    color: #ccc;
}

.button{
    width: 100%;
    padding: 14px 20px;
    background-color: #113350;
    color: white;
    cursor: pointer;
}


.img-upload-button{
    font-size: 70px;
    margin: 20px;
    cursor: pointer;
}