.main {
    width: 1200px;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 790px;
    height: 100%;
}

.summary {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

.gallery {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

.gallery-wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



