.container{
    width: 1200px;
    padding: 0px 160px 100px 160px;
    background-color: #113350;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: auto;
}

.copyright {
    width: 100%;
    text-align: center;
}

.social-media-wrapper {
    width: 200px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}


.column a {
    color: #fff;
    line-height: 40px;
}


  
  